In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import ElementClickInterceptedException, NoSuchElementException, StaleElementReferenceException, ElementNotInteractableException
import time
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Q1. Answer:- Scrape the details of most viewed videos on YouTube from Wikipedia and need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [2]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url=("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.get(url)
time.sleep(2)

In [3]:
Rank= []
Name= []
Artist= []
Upload_date= []
Views= []

#scraping Rank
try:
    Rank_tag= driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
    for i in Rank_tag:
        Rank.append(i.text)
except NoSuchElementException as e:
    Rank.append("--")

#scraping Name
try:
    Name_tag= driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
    for i in Name_tag:
        Name.append(i.text.split('[')[0])
except NoSuchElementException as e:
    Name.append("--") 

#scraping Artist
try:
    Artist_tag= driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
    for i in Artist_tag:
        Artist.append(i.text)
except NoSuchElementException as e:
    Artist.append("--")

#scraping Upload date
try:
    Upload_tag= driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
    for i in Upload_tag:
        Upload_date.append(i.text)
except NoSuchElementException as e:
    Upload_date.append("--")

#Scraping views
try:
    View_tag= driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
    for i in View_tag:
        Views.append(i.text)
except NoSuchElementException as e:
    Views.append("--")
    
#printing length
print(len(Rank),len(Name),len(Artist),len(Upload_date),len(Views))

#creating DataFrame
viewed_videos=pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"Upload_date":Upload_date,"Views":Views})
viewed_videos

49 49 49 49 49

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.30
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",7.97
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.45
3,4.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.80
4,5.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.63
5,6.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",5.60
6,7.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",4.87
7,8.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.68
8,9.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.61
9,10.,"""Gangnam Style""",Psy,"July 15, 2012",4.54
10,11.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",4.34
12,13.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.06
13,14.,"""Sugar""",Maroon 5,"January 14, 2015",3.75
14,15.,"""Roar""",Katy Perry,"September 5, 2013",3.65
15,16.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.64
16,17.,"""Sorry""",Justin Bieber,"October 22, 2015",3.58
17,18.,"""Axel F""",Crazy Frog,"June 16, 2009",3.50
18,18.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.49
19,20.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.36
20,21.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.34
21,22.,"""Faded""",Alan Walker,"December 3, 2015",3.34
22,23.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""",Passenger,"July 25, 2012",3.29
24,25.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.26
25,26.,"""Lean On""",Major Lazer,"March 22, 2015",3.26
26,27.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.25
27,28.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.24
28,29.,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.20
29,30.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.15
30,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","November 2, 2020","June 17, 2016"
31,"""Despacito""[6]",Luis Fonsi,"3,002,800,000","August 4, 2017","January 12, 2017"
32,"""See You Again""[15]",Wiz Khalifa,"2,894,000,000","July 10, 2017","April 6, 2015"
33,"""Gangnam Style""⁂[24]",Psy,"803,700,000","November 24, 2012","July 15, 2012"
34,"""Baby""*[61]",Justin Bieber,"245,400,000","July 16, 2010","February 19, 2010"
35,"""Bad Romance""[65]",Lady Gaga,"178,400,000","April 14, 2010","November 24, 2009"
36,"""Charlie Bit My Finger""‡[69]",HDCYT,"128,900,000","October 25, 2009","May 22, 2007"
37,"""Evolution of Dance""[72]",Judson Laipply,"118,900,000","May 2, 2009","April 6, 2006"
38,"""Girlfriend""‡[74][75]",RCA Records,"92,600,000","July 17, 2008","February 27, 2007"
39,"""Evolution of Dance""[72]",Judson Laipply,"78,400,000","March 15, 2008","April 6, 2006"
40,"""Music Is My Hot Hot Sex""‡[79]",CLARUSBARTEL72,"76,600,000","March 1, 2008","April 9, 2007"
41,"""Evolution of Dance""*[72]",Judson Laipply,"10,600,000","May 19, 2006","April 6, 2006"
42,"""Pokemon Theme Music Video""‡[85]",Smosh,"4,300,000","March 12, 2006","November 28, 2005"
43,"""Myspace – The Movie""‡[90][91]",eggtea,"2,700,000","February 18, 2006","January 31, 2006"
44,"""Phony Photo Booth""‡[94]",mugenized,"3,400,000","January 21, 2006","December 1, 2005"
45,"""The Chronic of Narnia Rap""‡[96]",youtubedude,"2,300,000","January 9, 2006","December 18, 2005"
46,"""Ronaldinho: Touch of Gold""‡*[98]",Nikesoccer,"255,000","October 31, 2005","October 21, 2005"
47,"""I/O Brush""‡*[101]",larfus,"247,000","October 29, 2005","October 5, 2005"
48,"""Me at the zoo""[103]",jawed,1,"April 23, 2005","April 23, 2005"

In [4]:
driver.close()

## Q2. Answer:- Scrape the details team India’s international fixtures from bcci.tv and need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time

In [5]:
driver_2=webdriver.Chrome('chromedriver.exe')
driver_2.maximize_window()
url=("https://www.bcci.tv/")
driver_2.get(url)
time.sleep(2)

In [6]:
#clicking on menu
button= driver_2.find_element(By.XPATH,'//span[@class = "menu-icon__line menu-icon__line-right"]').get_attribute('href')

In [7]:
#selecting International
International= driver_2.find_element(By.XPATH,'//a[@class = "nav-link "]').click()

In [8]:
#clicking on dropdown
Select= driver_2.find_element(By.XPATH,'//*[@id="fixtures"]/div[2]/div/div[3]/div/div[1]').click()

In [9]:
#selecting ODI
OdI= driver_2.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[2]/div[3]').click()

In [10]:
Match_title= []
Series= []
Place= []
Date= []
Time= []

#scraping Match Title
try:
    Match_title_tag= driver_2.find_elements(By.XPATH,"//div[@class='fixture-card-top']/h5[2]")
    for i in Match_title_tag:
        Match_title.append(i.text)
except NoSuchElementException as e:
    Match_title.append("--")

#scraping Series
try:
    Series_tag= driver_2.find_elements(By.XPATH,"//div[@class='fixture-card-bottom']")
    for i in Series_tag:
        Series.append(i.text.split("-")[0])
except NoSuchElementException as e:
    Series.append("--")
    
#scraping Place
try:
    Place_tag= driver_2.find_elements(By.XPATH,"//div[@class='fixture-card-bottom']")
    for i in Place_tag:
        Place.append(i.text.split("-")[1].replace("\n",","))
except NoSuchElementException as e:
    Place.append("--") 

#scraping Date
try:
    Date_tag= driver_2.find_elements(By.XPATH,"//div[@class='match-card-left match-schedule']")
    for i in Date_tag:
        Date.append(i.text)
except NoSuchElementException as e:
    Date.append("--")

#scraping Time   
try:
    Time_tag= driver_2.find_elements(By.XPATH,"//div[@class='match-card-right match-schedule ']")
    for i in Time_tag:
        Time.append(i.text)
except NoSuchElementException as e:
    Time.append("--")

#printing length
print(len(Match_title),len(Series),len(Place),len(Date),len(Time))

#creating Dataframe
international_fixtures=pd.DataFrame({"Match_title":Match_title,"Series":Series,"Place":Place,"Date":Date,"Time":Time})
international_fixtures

6 6 6 6 6

,Match_title,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,1st ODI,"County Ground, Hove,Match Centre",18 SEP 2022,3:30 PM IST
1,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,2nd ODI,"St Lawrence Ground, Canterbury,Match Centre",21 SEP 2022,5:30 PM IST
2,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,3rd ODI,"Lord's Cricket Ground, London,Match Centre",24 SEP 2022,3:30 PM IST
3,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,1st ODI,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,6 OCT 2022,1:30 PM IST
4,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI,"JSCA International Stadium Complex, Ranchi,Ma...",9 OCT 2022,1:30 PM IST
5,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI,"Arun Jaitley Stadium, Delhi,Match Centre",11 OCT 2022,1:30 PM IST

In [11]:
driver_2.close()

## Q3. Answer:- Scrape the details of selenium exception from guru99.com and need to find following details: A) Name B) Description

In [65]:
driver_3=webdriver.Chrome('chromedriver.exe')
driver_3.maximize_window()
url=("https://www.guru99.com/")
driver_3.get(url)
time.sleep(2)

In [66]:
#clicking on selenium
selenium= driver_3.find_element(By.XPATH,'//div[@class = "wp-block-kadence-column inner-column-2 kadence-column_f38d98-3a"]')
try:
    selenium.click()
except ElementNotInteractableException:  #if the above code doesn't work/is not clickable then, the below code will handle it
    driver_3.get(selenium.get_attribute('href'))

In [67]:
Name= []
Description= []

#scraping Name of selenium-exception
try:
    Name_tag=driver_3.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in Name_tag:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('--')
    
#scraping Description
try:
    Description_tag=driver_3.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in Description_tag:
        Description.append(i.text)
except NoSuchElementException:
    Description.append('--')
    
#printing length
print(len(Name),len(Description))

#creating DataFrame
selenium_exception=pd.DataFrame({"Name":Name,"Description":Description})
selenium_exception

0 0

Empty DataFrame
Columns: [Name, Description]
Index: []

In [68]:
driver_3.close()

## Q4. Answer:- Scrape the details of State-wise GDP of India from statisticstime.com and need to find following details: A) Rank B) State C) GSDP(18-19) D) GSDP(17-18) E) Share(2017) F) GDP

In [15]:
driver_4=webdriver.Chrome('chromedriver.exe')
driver_4.maximize_window()
url=("https://www.statisticstimes.com/")
driver_4.get(url)
time.sleep(2)

In [16]:
economy = driver_4.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")
try:
    economy.click()
except ElementNotInteractableException:
    driver_4.get(economy.get_attribute('href'))

In [19]:
gdp = driver_4.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

In [20]:
Rank= []
State= []
GSDP_2019= []
GSDP_2018= []
Share_2017= []
GDP= []

#scraping Rank
try:
    Rank_tag=driver_4.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[1]")
    for i in Rank_tag:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
except StaleElementReferenceException:
    Rank.append('--')

#scraping State
try:
    State_tag=driver_4.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[2]")
    for i in State_tag:
        State.append(i.text)
except NoSuchElementException:
    State.append('-')
except StaleElementReferenceException:
    State.append('--')

#scraping GSDP 2019
try:
    GSDP_2019_tag=driver_4.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[3]")
    for i in GSDP_2019_tag:
        GSDP_2019.append(i.text)
except NoSuchElementException:
    GSDP_2019.append('-')
except StaleElementReferenceException:
    GSDP_2019.append('--')
    
#scraping GSDP 2018
try:
    GSDP_2018_tag=driver_4.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]")
    for i in GSDP_2018_tag:
        GSDP_2018.append(i.text)
except NoSuchElementException:
    GSDP_2018.append('-')
except StaleElementReferenceException:
    GSDP_2018.append('--')
    
#scraping share 2017
try:
    Share_2017_tag=driver_4.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[5]")
    for i in Share_2017_tag:
        Share_2017.append(i.text)
except NoSuchElementException:
    Share_2017.append('-')
except StaleElementReferenceException:
    Share_2017.append('--')

#scraping GDP
try:
    GDP_tag=driver_4.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]")
    for i in GDP_tag:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')
except StaleElementReferenceException:
    GDP.append('--')
    
#printing length
print(len(Rank),len(State),len(GSDP_2019),len(GSDP_2018),len(Share_2017),len(GDP))

#creating Dataframe
State_GDP=pd.DataFrame({"Rank":Rank,"State":State,"GSDP_2019":GSDP_2019,"GSDP_2018":GSDP_2018,"Share_2017":Share_2017,"GDP":GDP}).set_index('Rank')
State_GDP

33 33 33 33 33 33

                          State  GSDP_2019  GSDP_2018 Share_2017      GDP
Rank
1                   Maharashtra          -  2,632,792     13.94%  399.921
2                    Tamil Nadu  1,845,853  1,630,208      8.63%  247.629
3                 Uttar Pradesh  1,687,818  1,584,764      8.39%  240.726
4                       Gujarat          -  1,502,899      7.96%  228.290
5                     Karnataka  1,631,977  1,493,127      7.91%  226.806
6                   West Bengal  1,253,832  1,089,898      5.77%  165.556
7                     Rajasthan  1,020,989    942,586      4.99%  143.179
8                Andhra Pradesh    972,782    862,957      4.57%  131.083
9                     Telangana    969,604    861,031      4.56%  130.791
10               Madhya Pradesh    906,672    809,592      4.29%  122.977
11                       Kerala          -    781,653      4.14%  118.733
12                        Delhi    856,112    774,870      4.10%  117.703
13                      Haryana    831,610    734,163      3.89%  111.519
14                        Bihar    611,804    530,363      2.81%   80.562
15                       Punjab    574,760    526,376      2.79%   79.957
16                       Odisha    521,275    487,805      2.58%   74.098
17                        Assam          -    315,881      1.67%   47.982
18                 Chhattisgarh    329,180    304,063      1.61%   46.187
19                    Jharkhand    328,598    297,204      1.57%   45.145
20                  Uttarakhand          -    245,895      1.30%   37.351
21              Jammu & Kashmir          -    155,956      0.83%   23.690
22             Himachal Pradesh    165,472    153,845      0.81%   23.369
23                          Goa     80,449     73,170      0.39%   11.115
24                      Tripura     55,984     49,845      0.26%    7.571
25                   Chandigarh          -     42,114      0.22%    6.397
26                   Puducherry     38,253     34,433      0.18%    5.230
27                    Meghalaya     36,572     33,481      0.18%    5.086
28                       Sikkim     32,496     28,723      0.15%    4.363
29                      Manipur     31,790     27,870      0.15%    4.233
30                     Nagaland          -     27,283      0.14%    4.144
31            Arunachal Pradesh          -     24,603      0.13%    3.737
32                      Mizoram     26,503     22,287      0.12%    3.385
33    Andaman & Nicobar Islands          -          -          -        -

In [21]:
driver_4.close()

## Q5. Answer:- Scrape the details of trending repositories on Github.com and need to find following details: A) Repository title B) Repository description C) Contributors count D)Language used

In [22]:
driver_5=webdriver.Chrome('chromedriver.exe')
driver_5.maximize_window()
url=(" https://github.com/")
driver_5.get(url)
time.sleep(2)

In [24]:
# Clicking on explore sub menu
explore = driver_5.find_element(By.XPATH,'/html/body/div[4]/main/div[2]/div[2]/div/div[1]/a[6]')
try:
    explore.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver_5.get(explore.get_attribute('href'))

In [25]:
# Clicking on Trending under explore sub menu
trending = driver_5.find_element(By.XPATH,'//*[@href="/trending"]')
try:
    driver_5.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver_5.get(trending.get_attribute('href'))

In [26]:
Repository_title= []
Repository_description= []
Contributors_count= []
Language_used= []
urls=[]

#Scraping title of repository
try:
    Repository_title_tag=driver_5.find_elements(By.XPATH,'//article[@class="Box-row"]/h1/a')
    for i in Repository_title_tag:
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')
    
#Scraping description of Repository
try:
    description=driver_5.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
    for i in description:
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('-')

for i in [Repository_title_tag,description]:
    for j in i:
        if i ==Repository_title_tag:
            Repository_title.append(j.text)
            urls.append(j.get_attribute('href'))
        if i==description:
            Repository_description.append(j.text)
    
for url in urls:
    driver_5.get(url)
    driver_5.implicitly_wait(3)
    div_list=driver_5.find_elements(By.XPATH,'//div[@class="BorderGrid BorderGrid--spacious"]/div')
    #Scraping count of contributors   
    try:
        Contributors_count.append(((div_list[-2].text).split())[1])
    except:
        Contributors_count.append('-')
    #Scraping used language
    try:
        Language_used.append(((div_list[-1].text).split())[1::2])
    except:
        Language_used.append('-')
        
#printing length
len(Repository_title),len(Repository_description),len(Language_used),len(Contributors_count)

#creating Dataframe
github_trending=pd.DataFrame({"Repository_title":Repository_title[:25],"Repository_description":Repository_description[:25],"Language_used":Language_used[:25],"Contributors_count":Contributors_count[:25]})
github_trending

,Repository_title,Repository_description,Language_used,Contributors_count
0,danielgindi / Charts,Beautiful charts for iOS/tvOS/OSX! The Apple s...,"[Swift, Objective-C, Other]",150
1,surrealdb / surrealdb,"A scalable, distributed, collaborative, docume...","[Rust, Other]",11
2,TheAlgorithms / Python,All Algorithms implemented in Python,[Python],831
3,SerenityOS / ladybird,Ladybird web browser,"[C++, CMake, Java]",16
4,divamgupta / diffusionbee-stable-diffusion-ui,Diffusion Bee is the easiest way to run Stable...,"[Jupyter, 97.1%, 2.6%, 0.3%]",-
5,karpathy / nn-zero-to-hero,Neural Networks: Zero to Hero,"[Jupyter, 100.0%]",-
6,EbookFoundation / free-programming-books,📚 Freely available programming books,"[2,002, 1,991]",by
7,twitter / compose-rules,Static checks to aid with a healthy adoption o...,[Kotlin],8
8,n8n-io / n8n,Free and source-available fair-code licensed w...,"[TypeScript, Vue, SCSS, JavaScript, HTML, Dock...",302
9,InterviewReady / system-design-resources,These are the best resources for System Design...,[5],-
10,moby / moby,Moby Project - a collaborative project for the...,"[Go, Shell, Dockerfile, PowerShell, Makefile, ...","2,178"
11,Alamofire / Alamofire,Elegant HTTP Networking in Swift,[Swift],240
12,AykutSarac / jsoncrack.com,🔮 Seamlessly visualize your JSON data instantl...,"[TypeScript, Other]",14
13,pocketbase / pocketbase,Open Source realtime backend in 1 file,"[Go, Svelte, SCSS, JavaScript, HTML, Shell]",15
14,ascoders / weekly,前端精读周刊。帮你理解最前沿、实用的技术。,[JavaScript],67
15,jellyfin / jellyfin,The Free Software Media System,"[C#, Other]",764
16,apptension / developer-handbook,An opinionated guide on how to become a profes...,"[4, Patryk, diamondsea, Gallagher, Kevin, scot...",-
17,vasanthk / how-web-works,What happens behind the scenes when we type ww...,[8],-
18,rust-lang / rust,Empowering everyone to build reliable and effi...,"[Rust, JavaScript, HTML, Python, Makefile, She...","4,017"
19,dotnet / core,Home repository for .NET Core,"[PowerShell, Shell]",302
20,microsoft / playwright,Playwright is a framework for Web Testing and ...,"[TypeScript, HTML, C++, CSS, JavaScript, Objec...",295
21,gothinkster / realworld,"""The mother of all demo apps"" — Exemplary full...",[Shell],73
22,SerenityOS / serenity,The Serenity Operating System 🐞,"[C++, JavaScript, HTML, C, Shell, CMake, Other]",751
23,jwasham / coding-interview-university,A complete computer science study plan to beco...,"[273, 262]",by
24,joeyballentine / chaiNNer,A flowchart/node-based image processing GUI ai...,"[TypeScript, Python, JavaScript, Other]",10

In [27]:
driver_5.close()

## Q6. Answer:- Scrape the details of top 100 songs on billiboard.com and need to find following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board

In [28]:
driver_6=webdriver.Chrome('chromedriver.exe')
driver_6.maximize_window()
url=("https://www.billboard.com")
driver_6.get(url)
time.sleep(2)

In [35]:
#Clicking on hot 100
Search=driver_6.find_element(By.XPATH,"/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a").get_attribute('href')
driver_6.get(Search)

In [36]:
Name=[]
Artist=[]
rank=[]

#Scraping name
Name_tag=driver_6.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
for i in Name_tag:
    Name.append(i.text)

#Scraping artist
Artist_tag=driver_6.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
for i in Artist_tag:
    Artist.append(i.text)

#Scraping rank
rankTag=driver_6.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
for i in rankTag[:3]:
    rank.append(i.text )

In [37]:
#Scraping name
Rank=[]
nameTag=driver_6.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in nameTag:
    Name.append(i.text )

#Scraping artist
artistTag=driver_6.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in artistTag:
    Artist.append(i.text )

#Scraping rank
RankTag=driver_6.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in RankTag:
    Rank.append(i.text)

In [38]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [39]:
# slicing Data
last_week_rank=Rank[0::3]
last_week_rank.insert(0,rank[0])
peak_rank=Rank[1::3]
peak_rank.insert(0,rank[1])
weeks_on_board=Rank[2::3]
weeks_on_board.insert(0,rank[2])

In [40]:
#check length of all
len(Name),len(Artist),len(last_week_rank),len(peak_rank),len(weeks_on_board)

(100, 100, 133, 133, 133)

In [41]:
# Create Dataframe
songs_top=pd.DataFrame({"Name":Name[:100],"Artist":Artist[:100],"Last Week Rank":last_week_rank[0:100],"Peak Rank":peak_rank[0:100],"Weeks On Board":weeks_on_board[0:100]})
songs_top

,Name,Artist,Last Week Rank,Peak Rank,Weeks On Board
0,As It Was,Harry Styles,1,1,23
1,Bad Habit,Steve Lacy,2,2,10
2,Late Night Talking,Harry Styles,12,3,16
3,Sunroof,Nicky Youre & dazy,5,4,15
4,About Damn Time,Lizzo,3,1,21
...,...,...,...,...,...
95,Thought You Should Know,Morgan Wallen,88,42,5
96,Country On,Luke Bryan,,,
97,Static,Steve Lacy,83,18,18
98,Billie Eilish.,Armani White,,,
99,Sin Fin,Romeo Santos & Justin Timberlake,93,84,4

In [42]:
driver_6.close()

## Q7. Answer:- Scrape the details of Data science recruiters from naukri.com and need to find following details: A) Name B) Designation C) Company D) Skills they hire for E) Location

In [43]:
driver_7=webdriver.Chrome('chromedriver.exe')
driver_7.maximize_window()
url=("https://www.naukri.com/hr-recruiters-consultants")
driver_7.get(url)
time.sleep(2)

In [44]:
#click on Browse All Recruiters
browse= driver_7.find_element(By.XPATH,"//a[@title='Search Recruiters']").get_attribute("href")
driver_7.get(browse)

#Search for Data Science Recruiters
driver_7.find_element(By.XPATH,"//input[@class='sugInp']").send_keys("Data Science")
driver_7.find_element(By.XPATH,"//button[@class='fl qsbSrch blueBtn']").click()

In [45]:
Name= []
Designation= []
Company= []
Skills= []
Location= []

#scraping Recruiters Name
try:
    Name_tag=driver_7.find_elements(By.XPATH,"//span[@class='fl ellipsis']")
    for i in Name_tag:
        Name.append(i.text)
except:
    Name.append("-")
    
#scraping Designation    
try:
    Designation_tag=driver_7.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
    for i in Designation_tag:
        Designation.append(i.text)
except:
    Designation.append("-")

#scraping company    
try:
    Company_tag=driver_7.find_elements(By.XPATH,"//a[@class='ellipsis']")[1::2]
    for i in Company_tag:
        Company.append(i.text)
except:
    Company.append("-")
    
#scraping skills    
try:
    Skills_tag=driver_7.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
    for i in Skills_tag:
        Skills.append(i.text)
except:
    Skills.append("-")

#scraping Location
try:
    Location_tag=driver_7.find_elements(By.XPATH,"//small[@class='ellipsis']")
    for i in Location_tag:
            Location.append(i.text)
except:
        Location.append("-")

#printing length
print(len(Name), len(Designation),len(Company), len(Skills), len(Location))

50 50 50 50 48

In [46]:
#creating Dataframe
recruiters=pd.DataFrame({"Name":Name[:48],"Designation":Designation[:48],"Company":Company[:48],"Skills":Skills[:48],"Location":Location})
recruiters

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad

In [47]:
driver_7.close()

## Q8. Answer:- Scrape the details of Highest selling novels and need to find following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [48]:
driver_8=webdriver.Chrome('chromedriver.exe')
driver_8.maximize_window()
url=("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver_8.get(url)
time.sleep(2)

In [49]:
Books=[]
Genre=[]

#scraping novels
try:
    Books_tag=driver_8.find_elements(By.XPATH,"//td[@class='left']")
    for i in Books_tag:
        Books.append(i.text)
except:
    Books.append("-")
    
#scraping novel's genre
try:
    Genre_tag=driver_8.find_elements(By.XPATH,"//td[@class='last left']")
    for i in Genre_tag:
        Genre.append(i.text)
except:
    Genre.append("-")

In [50]:
#slicing novels data
Book_name=Books[1::5]
Author_name=Books[2::5]
Volumes_sold=Books[3::5]
Publisher=Books[4::5]

In [51]:
#printing length
print(len(Book_name), len(Author_name),len(Volumes_sold), len(Publisher), len(Genre))

100 100 100 100 100

In [52]:
#creating Dataframe
novels=pd.DataFrame({"Book Name":Book_name,"Author Name":Author_name,"Volumes Sold":Volumes_sold,"Publisher":Publisher,"Genre":Genre})
novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [53]:
driver_8.close()

## Q9. Answer:- Scrape the details most watched tv series of all time from imdb.com and need to find following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [54]:
driver_9=webdriver.Chrome('chromedriver.exe')
driver_9.maximize_window()
url=("http://www.imdb.com/list/ls095964455/")
driver_9.get(url)
time.sleep(2)

In [55]:
Name= []
Year_span= []
Genre= []
Run_time= []
Ratings= []
Votes= []

#scraping series name
try:
    Name_tag= driver_9.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in Name_tag:
        Name.append(i.text)
except NoSuchElementException as e:
    Name.append("--")

#scraping series Year span
try:
    Year_span_tag= driver_9.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
    for i in Year_span_tag:
        Year_span.append(i.text)
except NoSuchElementException as e:
    Year_span.append("--") 
    
#scraping series Genre
try:
    Genre_tag= driver_9.find_elements(By.XPATH,"//span[@class='genre']")
    for i in Genre_tag:
        Genre.append(i.text)
except NoSuchElementException as e:
    Genre.append("--")
    
#scraping series Run Time
try:
    Run_time_tag= driver_9.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in Run_time_tag:
        Run_time.append(i.text)
except NoSuchElementException as e:
    Run_time.append("--")
    
#scraping series Ratings
try:
    Ratings_tag= driver_9.find_elements(By.XPATH,"//span[@class='ipl-rating-star__rating']")
    for i in Ratings_tag[::23]:
        Ratings.append(i.text)
except NoSuchElementException as e:
    Ratings.append("--")
    
#scraping series Votes
try:
    Votes_tag= driver_9.find_elements(By.XPATH,"//span[@name='nv']")
    for i in Votes_tag:
        Votes.append(i.text)
except NoSuchElementException as e:
    Votes.append("--")
    
#printing length
print(len(Name), len(Year_span), len(Genre), len(Run_time), len(Ratings), len(Votes))

100 100 100 100 100 100

In [56]:
#creating Dataframe
tv_series= pd.DataFrame({"Name":Name[:100],"Year span":Year_span[:100],"Genre":Genre[:100],"Run time":Run_time[:100],"Ratings":Ratings[:100],"Votes":Votes[:100]})
tv_series

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,049,496"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,145,373"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"968,315"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,837"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,406"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,560"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,565"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,788"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,022"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"236,456"

In [57]:
driver_9.close()

## Q10. Answer:- Details of Datasets from UCI machine learning repositories and need to find following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

In [58]:
driver_0=webdriver.Chrome('chromedriver.exe')
driver_0.maximize_window()
url=("https://archive.ics.uci.edu/")
driver_0.get(url)
time.sleep(2)

In [59]:
#clicking on view all Dataset
Dataset= driver_0.find_elements(By.XPATH,"//span[@class='normal']/b/a")[0].get_attribute('href')
driver_0.get(Dataset)

In [60]:
# Scraping dataset
data=[]
try:
    data_tag=driver_0.find_elements(By.XPATH,"//td//p[@class='normal']")
    for i in data_tag[8:4362]:
        data.append(i.text )
except:
    data.append('-')

In [61]:
#slicing dataset
Dataset_name=data[::7]
Data_type=data[1::7]
Task=data[2::7]
Attribute_type=data[3::7]
instances=data[4::7]
attribute=data[5::7]
Year=data[6::7]

In [62]:
#printing length
print(len(Dataset_name), len(Data_type), len(Task), len(Attribute_type), len(instances), len(attribute), len(Year))

622 622 622 622 622 622 622

In [63]:
#creating Dataframe
Datasets= pd.DataFrame({"Dataset name":Dataset_name,"Data type":Data_type,"Task":Task,"Attribute type":Attribute_type,"Instances":instances,"Attribute":attribute,"Year":Year})
Datasets

,Dataset name,Data type,Task,Attribute type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [64]:
driver_0.close()