# Car Price Prediction

## Importing Libraries

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import NoSuchElementException
import time

import warnings
warnings.filterwarnings('ignore')

## 1. Scraping data from "Cardekho" Website

### Ahmedabad

In [2]:
driver1=webdriver.Chrome('chromedriver.exe')
url1=("https://www.cardekho.com/used-cars")
driver1.get(url1)
driver1.maximize_window()
time.sleep(2)

In [3]:
location_Ahmedabad= driver1.find_element(By.XPATH,"//a[@title='Used cars in Ahmedabad']").click()

In [5]:
# scrolling the web page 
for _ in range(300):
    driver1.execute_script("window.scrollBy(0,100)")

In [6]:
urls = []
for i in range(20):
    for j in driver1.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a'):
        urls.append(j.get_attribute('href'))

time.sleep(2)
print(len(urls))

2380

In [7]:
#Creating empty list 
Brand= []
Model = []
Variant=[]
Manufacturing_Year = []
Driven_KiloMeters= []
Fuel = []
Location= []
Car_Price= []

#Fetching data for Brand    
try:
    Brand_name=driver1.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Brand_name:
        Brand.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand.append('-')

#Fetching data for Model   
try:
    Model_name=driver1.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Model_name:
        Model.append(i.text[5:])
except NoSuchElementException as e:
    Model.append('-')

#Fetching data for Variant   
try:
    Variant_name=driver1.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in Variant_name:
        Variant.append(i.text)
except NoSuchElementException as e:
    Variant.append('-')

#Fetching data for Manufacturing    
try:
    Manufacturing=driver1.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Manufacturing:
        Manufacturing_Year.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year.append('-') 

#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter=driver1.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[1]')
    for i in Driven_KiloMeter:
        Driven_KiloMeters.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name=driver1.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[2]')
    for i in Fuel_name:
        Fuel.append(i.text)
except NoSuchElementException as e:
    Fuel.append('-')

#Fetching data for Location   
try:
    Location_name=driver1.find_elements(By.XPATH,'//div[@class="gsc_col-xs-12 mainheading"]')
    for j in range (200):
        for i in Location_name:
            Location.append(i.text[13:])
except NoSuchElementException as e:
    Location.append('-')

#Fetching data for Car_Price    
try:
    Car_Pr=driver1.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in Car_Pr:
        Car_Price.append(i.text)
except NoSuchElementException as e:
    Car_Price.append('-')

In [8]:
print(len(Brand),len(Model),len(Variant),len(Manufacturing_Year), len(Driven_KiloMeters), len(Fuel),  len(Location), len(Car_Price))

160 160 160 160 160 160 200 160

In [238]:
Ahmedabad=pd.DataFrame({'Brand':Brand[:160], 'Model':Model[:160], 'Variant':Variant[:160], 'Manufacturing_Year':Manufacturing_Year[:160], 'Driven_KiloMeters':Driven_KiloMeters[:160], 'Fuel':Fuel[:160],  'Location':Location[:160], 'Car_Price':Car_Price[:160]})
Ahmedabad

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Location,Car_Price
0,Hyundai,Hyundai Tucson,GLS AT,2021,"11,877 kms",Petrol,Ahmedabad,23.00 Lakh
1,Kia,Kia Seltos,GTX Plus,2019,"18,557 kms",Petrol,Ahmedabad,15.53 Lakh
2,Renault,Renault Duster,Petrol RXS CVT,2018,"33,139 kms",Petrol,Ahmedabad,7.11 Lakh
3,Honda,Honda City,i VTEC V,2016,"25,542 kms",Petrol,Ahmedabad,7.33 Lakh
4,Datsun,Datsun RediGO,T,2020,"23,840 kms",Petrol,Ahmedabad,3.81 Lakh
...,...,...,...,...,...,...,...,...
155,MG,MG Hector Plus,Sharp DCT,2020,"14,000 kms",Petrol,Ahmedabad,16.75 Lakh
156,Hyundai,Hyundai Grand i10,Magna AT,2017,"35,000 kms",Petrol,Ahmedabad,5.10 Lakh
157,Honda,Honda Jazz,1.2 VX i VTEC,2015,"74,000 kms",Petrol,Ahmedabad,5.40 Lakh
158,Hyundai,Hyundai Verna,VTVT 1.6 AT SX Option,2019,"26,000 kms",Petrol,Ahmedabad,11.50 Lakh
159,Land,Land Rover Discovery Sport,TD4 HSE 7S,2015,"86,000 kms",Diesel,Ahmedabad,29.00 Lakh

In [14]:
driver1.close()

### Bangalore

In [15]:
driver2=webdriver.Chrome('chromedriver.exe')
url2=("https://www.cardekho.com/used-cars")
driver2.get(url2)
driver2.maximize_window()
time.sleep(2)

In [16]:
#fetching location
location_Bangalore= driver2.find_element(By.XPATH,"//a[@title='Used cars in Bangalore']").click()

In [17]:
# scrolling the web page
for _ in range(30):
    driver2.execute_script("window.scrollBy(0,1000)")

In [18]:
urls2 = []
for i in range(30):
    for j in driver2.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a'):
        
        urls2.append(j.get_attribute('href'))

time.sleep(2)

print(len(urls2))

3000

In [19]:
#Creating empty list 
Brand2 = []
Model2 = []
Variant2 = []
Manufacturing_Year2 = []
Driven_KiloMeters2 = []
Fuel2 = []
Location2 = []
Car_Price2 = []


#Fetching data for Brand    
try:
    Brand_name2=driver2.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Brand_name2:
        Brand2.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand2.append('-')
    
#Fetching data for Model   
try:
    Model_name2=driver2.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Model_name2:
        Model2.append(i.text[5:])
except NoSuchElementException as e:
    Model2.append('-')

#Fetching data for Variant   
try:
    Variant_name2=driver2.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in Variant_name2:
        Variant2.append(i.text)
except NoSuchElementException as e:
    Variant2.append('-')
    
#Fetching data for Manufacturing    
try:
    Manufacturing2=driver2.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Manufacturing2:
        Manufacturing_Year2.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year2.append('-') 
    
#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter2=driver2.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[1]')
    for i in Driven_KiloMeter2:
        Driven_KiloMeters2.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters2.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name2=driver2.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[2]')
    for i in Fuel_name2:
        Fuel2.append(i.text)
except NoSuchElementException as e:
    Fuel2.append('-')

#Fetching data for Location       
try:
    Location_name2=driver2.find_elements(By.XPATH,'//div[@class="gsc_col-xs-12 mainheading"]')
    for j in range (200):
        for i in Location_name2:
            Location2.append(i.text[13:])
except NoSuchElementException as e:
    Location2.append('-')
    
#Fetching data for Car_Price    
try:
    Car_Pr2=driver2.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in Car_Pr2:
        Car_Price2.append(i.text)
except NoSuchElementException as e:
    Car_Price2.append('-')

In [20]:
print(len(Brand2),len(Model2),len(Variant2),len(Manufacturing_Year2), len(Driven_KiloMeters2), len(Fuel2),  len(Location2), len(Car_Price2))

100 100 100 100 100 100 200 100

In [21]:
Bangalore=pd.DataFrame({'Brand':Brand2[:100], 'Model':Model2[:100], 'Variant':Variant2[:100], 'Manufacturing_Year':Manufacturing_Year2[:100], 'Driven_KiloMeters':Driven_KiloMeters2[:100], 'Fuel':Fuel2[:100], 'Location':Location2[:100], 'Car_Price':Car_Price2[:100]})
Bangalore

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Location,Car_Price
0,Maruti,Maruti Ciaz,VDI SHVS,2016,"52,252 kms",Diesel,Bangalore,7.14 Lakh
1,Maruti,Maruti S-Presso,VXi Plus,2022,"2,224 kms",Petrol,Bangalore,5.96 Lakh
2,Hyundai,Hyundai Creta,1.6 VTVT AT SX Plus,2016,"47,679 kms",Petrol,Bangalore,11.79 Lakh
3,Honda,Honda WR-V,VX Diesel,2018,"40,661 kms",Diesel,Bangalore,9.21 Lakh
4,Renault,Renault Duster,85PS Diesel RxL,2012,"50,609 kms",Diesel,Bangalore,5.73 Lakh
...,...,...,...,...,...,...,...,...
95,Hyundai,Hyundai Santro,Sportz,2020,"15,013 kms",Petrol,Bangalore,5.50 Lakh
96,Hyundai,Hyundai Creta,1.6 VTVT E Plus,2017,"34,341 kms",Petrol,Bangalore,9.14 Lakh
97,Hyundai,Hyundai Creta,1.6 VTVT SX Plus,2016,"13,234 kms",Petrol,Bangalore,10.86 Lakh
98,Honda,Honda WR-V,i-DTEC VX,2018,"9,561 kms",Diesel,Bangalore,9.26 Lakh
99,Hyundai,Hyundai Grand i10,Sportz,2017,"35,772 kms",Petrol,Bangalore,5.65 Lakh

In [22]:
driver2.close()

### Delhi NCR

In [23]:
driver3=webdriver.Chrome('chromedriver.exe')
url3=("https://www.cardekho.com/used-cars")
driver3.get(url3)
driver3.maximize_window()
time.sleep(2)

In [24]:
location_Delhi= driver3.find_element(By.XPATH,"//a[@title='Used cars in Delhi NCR']").click()

In [32]:
# scrolling the web page to get more images
for _ in range(100):
    driver3.execute_script("window.scrollBy(0,100)")

In [33]:
urls3 = []
for i in range(10):
    for j in driver3.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a'):
        urls3.append(j.get_attribute('href'))

time.sleep(2)
print(len(urls3))

3800

In [34]:
#Creating empty list 
Brand3= []
Model3 = []
Variant3=[]
Manufacturing_Year3 = []
Driven_KiloMeters3= []
Fuel3 = []
Location3= []
Car_Price3= []

#Fetching data for Brand    
try:
    Brand_name3=driver3.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Brand_name3:
        Brand3.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand3.append('-')
    
#Fetching data for Model   
try:
    Model_name3=driver3.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Model_name3:
        Model3.append(i.text[5:])
except NoSuchElementException as e:
    Model3.append('-')

#Fetching data for Variant   
try:
    Variant_name3=driver3.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in Variant_name3:
        Variant3.append(i.text)
except NoSuchElementException as e:
    Variant3.append('-')
    
#Fetching data for Manufacturing    
try:
    Manufacturing3=driver3.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Manufacturing3:
        Manufacturing_Year3.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year3.append('-') 
    
#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter3=driver3.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[1]')
    for i in Driven_KiloMeter3:
        Driven_KiloMeters3.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters3.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name3=driver3.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[2]')
    for i in Fuel_name3:
        Fuel3.append(i.text)
except NoSuchElementException as e:
    Fuel3.append('-')
    
#Fetching data for Car_Price    
try:
    Car_Pr3=driver3.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in Car_Pr3:
        Car_Price3.append(i.text)
except NoSuchElementException as e:
    Car_Price3.append('-')

In [39]:
print(len(Brand3),len(Model3),len(Variant3),len(Manufacturing_Year3), len(Driven_KiloMeters3), len(Fuel3),  len(Car_Price3))

380 380 380 380 380 380 520

In [40]:
#Fetching data for Location       
try:
    Location_name3=driver3.find_elements(By.XPATH,'//div[@class="gsc_col-xs-12 mainheading"]')
    for j in range (380):
        for i in Location_name3:
            Location3.append(i.text[13:])
except NoSuchElementException as e:
    Location3.append('-')

In [41]:
len(Location3)

581

In [43]:
Delhi=pd.DataFrame({'Brand':Brand3[:380], 'Model':Model3[:380], 'Variant':Variant3[:380], 'Manufacturing_Year':Manufacturing_Year3[:380], 'Driven_KiloMeters':Driven_KiloMeters3[:380], 'Fuel':Fuel3[:380], 'Location':Location3[:380], 'Car_Price':Car_Price3[:380]})
Delhi

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Location,Car_Price
0,Maruti,Maruti Baleno,1.2 Alpha,2018,"31,939 kms",Petrol,Delhi NCR,6.69 Lakh
1,Honda,Honda City,i-VTEC CVT ZX,2018,"49,539 kms",Petrol,Delhi NCR,10.53 Lakh
2,Hyundai,Hyundai Venue,SX Plus Turbo DCT BSIV,2019,"31,710 kms",Petrol,Delhi NCR,10.46 Lakh
3,Maruti,Maruti Ciaz,AT ZXi,2016,"38,387 kms",Petrol,Delhi NCR,7.43 Lakh
4,Tata,Tata Nexon,XZA Plus AMT,2021,"11,204 kms",Petrol,Delhi NCR,11.08 Lakh
...,...,...,...,...,...,...,...,...
375,Toyota,Toyota Innova Crysta,2.7 GX 8 STR,2020,"14,000 kms",Petrol,Delhi NCR,17.75 Lakh
376,Hyundai,Hyundai Creta,1.6 CRDi SX Option,2018,"51,002 kms",Diesel,Delhi NCR,12.75 Lakh
377,Honda,Honda CR-V,2.0L 2WD AT,2017,"44,000 kms",Petrol,Delhi NCR,15.00 Lakh
378,Ford,Ford Ecosport,1.5 DV5 MT Titanium Optional,2013,"87,256 kms",Diesel,Delhi NCR,3.85 Lakh
379,Audi,Audi A6,2.0 TDI Premium Plus,2014,"50,001 kms",Diesel,Delhi NCR,14.99 Lakh

In [44]:
driver3.close()

### Mumbai

In [45]:
driver4=webdriver.Chrome('chromedriver.exe')
url4=("https://www.cardekho.com/used-cars")
driver4.get(url4)
driver4.maximize_window()
time.sleep(2)

In [46]:
location_Mumbai= driver4.find_element(By.XPATH,"//a[@title='Used cars in Mumbai']").click()

In [52]:
# scrolling the web page to get more images
for _ in range(500):
    driver4.execute_script("window.scrollBy(0,100)")

In [53]:
urls4 = []
for i in range(10):
    for j in driver4.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a'):
        
        urls4.append(j.get_attribute('href'))

time.sleep(2)
print(len(urls4))

400

In [56]:
#Creating empty list 
Brand4= []
Model4 = []
Variant4=[]
Manufacturing_Year4 = []
Driven_KiloMeters4= []
Fuel4 = []
Location4= []
Car_Price4= []


#Fetching data for Brand    
try:
    Brand_name4=driver4.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Brand_name4:
        Brand4.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand4.append('-')
    
#Fetching data for Model   
try:
    Model_name4=driver4.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Model_name4:
        Model4.append(i.text[5:])
except NoSuchElementException as e:
    Model4.append('-')

#Fetching data for Variant   
try:
    Variant_name4=driver4.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in Variant_name4:
        Variant4.append(i.text)
except NoSuchElementException as e:
    Variant4.append('-')
    
#Fetching data for Manufacturing    
try:
    Manufacturing4=driver4.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Manufacturing4:
        Manufacturing_Year4.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year4.append('-') 
    
#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter4=driver4.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[1]')
    for i in Driven_KiloMeter4:
        Driven_KiloMeters4.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters4.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name4=driver4.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[2]')
    for i in Fuel_name4:
        Fuel4.append(i.text)
except NoSuchElementException as e:
    Fuel4.append('-')
    
#Fetching data for Car_Price    
try:
    Car_Pr4=driver4.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in Car_Pr4:
        Car_Price4.append(i.text)
except NoSuchElementException as e:
    Car_Price4.append('-')

In [57]:
print(len(Brand4),len(Model4),len(Variant4),len(Manufacturing_Year4), len(Driven_KiloMeters4), len(Fuel4), len(Car_Price4))

200 200 200 200 200 200 200

In [58]:
#Fetching data for Location       
try:
    Location_name4=driver4.find_elements(By.XPATH,'//div[@class="gsc_col-xs-12 mainheading"]')
    for j in range (200):
        for i in Location_name4:
            Location4.append(i.text[13:])
except NoSuchElementException as e:
    Location4.append('-')

In [69]:
Mumbai=pd.DataFrame({'Brand':Brand4, 'Model':Model4, 'Variant':Variant4, 'Manufacturing_Year':Manufacturing_Year4, 'Driven_KiloMeters':Driven_KiloMeters4, 'Fuel':Fuel4,  'Location':Location4, 'Car_Price':Car_Price4})
Mumbai

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Location,Car_Price
0,Hyundai,Hyundai Creta,1.6 VTVT SX Plus,2017,"23,824 kms",Petrol,Mumbai,9.71 Lakh
1,Honda,Honda Jazz,1.2 V i VTEC,2016,"92,720 kms",Petrol,Mumbai,4.95 Lakh
2,Hyundai,Hyundai i20,Sportz 1.2,2016,"21,433 kms",Petrol,Mumbai,5.73 Lakh
3,Hyundai,Hyundai Verna,1.6 SX VTVT,2016,"40,281 kms",Petrol,Mumbai,6.55 Lakh
4,Hyundai,Hyundai Grand i10 Nios,Sportz,2021,951 kms,Petrol,Mumbai,7.24 Lakh
...,...,...,...,...,...,...,...,...
195,Hyundai,Hyundai Creta,1.6 VTVT AT SX Plus,2016,"37,809 kms",Petrol,Mumbai,9.99 Lakh
196,Maruti,Maruti Vitara Brezza,VXI,2021,718 kms,Petrol,Mumbai,9.53 Lakh
197,Hyundai,Hyundai i20,1.2 Spotz,2018,"11,839 kms",Petrol,Mumbai,6.35 Lakh
198,Hyundai,Hyundai i20,1.2 Spotz,2018,"9,030 kms",Petrol,Mumbai,6.14 Lakh
199,Datsun,Datsun RediGO,AMT 1.0 T Option,2018,"7,179 kms",Petrol,Mumbai,3.40 Lakh

In [60]:
driver4.close()

### Pune

In [61]:
driver5=webdriver.Chrome('chromedriver.exe')
url5=("https://www.cardekho.com/used-cars")
driver5.get(url5)
driver5.maximize_window()
time.sleep(2)

In [62]:
location_Pune= driver5.find_element(By.XPATH,"//a[@title='Used cars in Pune']").click()

In [63]:
# scrolling the web page to get more images
for _ in range(500):
    driver5.execute_script("window.scrollBy(0,100)")

In [65]:
urls5 = []
for i in range(30):
    for j in driver5.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a'):
        
        urls5.append(j.get_attribute('href'))

time.sleep(2)

print(len(urls5))

9980

In [66]:
#Creating empty list 
Brand5= []
Model5 = []
Variant5=[]
Manufacturing_Year5 = []
Driven_KiloMeters5= []
Fuel5 = []
Location5= []
Car_Price5= []


#Fetching data for Brand    
try:
    Brand_name5=driver5.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Brand_name5:
        Brand5.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand5.append('-')
    
#Fetching data for Model   
try:
    Model_name5=driver5.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Model_name5:
        Model5.append(i.text[5:])
except NoSuchElementException as e:
    Model5.append('-')

#Fetching data for Variant   
try:
    Variant_name5=driver5.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in Variant_name5:
        Variant5.append(i.text)
except NoSuchElementException as e:
    Variant5.append('-')
    
#Fetching data for Manufacturing    
try:
    Manufacturing5=driver5.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Manufacturing5:
        Manufacturing_Year5.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year5.append('-') 
    
#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter5=driver5.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[1]')
    for i in Driven_KiloMeter5:
        Driven_KiloMeters5.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters5.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name5=driver5.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[2]')
    for i in Fuel_name5:
        Fuel5.append(i.text)
except NoSuchElementException as e:
    Fuel5.append('-')
    
#Fetching data for Car_Price    
try:
    Car_Pr5=driver5.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in Car_Pr5:
        Car_Price5.append(i.text)
except NoSuchElementException as e:
    Car_Price5.append('-')

In [67]:
print(len(Brand5),len(Model5),len(Variant5),len(Manufacturing_Year5), len(Driven_KiloMeters5), len(Fuel5), len(Car_Price5))

360 360 360 360 360 360 360

In [68]:
#Fetching data for Location       
try:
    Location_name5=driver5.find_elements(By.XPATH,'//div[@class="gsc_col-xs-12 mainheading"]')
    for j in range (360):
        for i in Location_name5:
            Location5.append(i.text[13:])
except NoSuchElementException as e:
    Location5.append('-')

In [100]:
#Creating DataFrame
Pune=pd.DataFrame({'Brand':Brand5[:360], 'Model':Model5[:360], 'Variant':Variant5[:360], 'Manufacturing_Year':Manufacturing_Year5[:360], 'Driven_KiloMeters':Driven_KiloMeters5[:360], 'Fuel':Fuel5[:360], 'Location':Location5[:360], 'Car_Price':Car_Price5[:360]})
Pune

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Location,Car_Price
0,Hyundai,Hyundai Grand i10,Asta Option,2014,"60,659 kms",Petrol,Pune,3.86 Lakh
1,Honda,Honda City,i VTEC V,2014,"98,718 kms",Petrol,Pune,5.83 Lakh
2,Maruti,Maruti Ciaz,1.4 Alpha,2017,"78,091 kms",Petrol,Pune,7.18 Lakh
3,MG,MG Hector,Sharp Diesel MT,2020,"16,856 kms",Diesel,Pune,17.69 Lakh
4,Toyota,Toyota Yaris,G CVT BSIV,2018,"14,565 kms",Petrol,Pune,9.36 Lakh
...,...,...,...,...,...,...,...,...
355,Maruti,Maruti Celerio,ZXI,2019,"16,000 kms",Petrol,Pune,5.35 Lakh
356,BMW,BMW 7 Series,730Ld,2013,"73,000 kms",Diesel,Pune,28.50 Lakh
357,BMW,BMW 3 Series,320d Luxury Line,2015,"61,000 kms",Diesel,Pune,18.50 Lakh
358,BMW,BMW 5 Series,520d Modern Line,2014,"99,500 kms",Diesel,Pune,21.50 Lakh
359,Toyota,Toyota Camry,W2 (AT),2008,"1,19,000 kms",Petrol,Pune,4.40 Lakh

In [72]:
driver5.close()

In [91]:
driver6=webdriver.Chrome('chromedriver.exe')
url6=("https://www.cardekho.com/used-cars")
driver6.get(url6)
driver6.maximize_window()
time.sleep(2)

In [92]:
location_Pune= driver6.find_element(By.XPATH,"//a[@title='Used cars in Jaipur']").click()

In [93]:
# scrolling the web page to get more images
for _ in range(500):
    driver6.execute_script("window.scrollBy(0,1000)")

In [94]:
urls6 = []
for i in range(30):
    for j in driver6.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a'):
        
        urls6.append(j.get_attribute('href'))

time.sleep(2)

print(len(urls6))

4580

In [95]:
#Creating empty list 
Brand6= []
Model6 = []
Variant6=[]
Manufacturing_Year6 = []
Driven_KiloMeters6= []
Fuel6 = []
Location6= []
Car_Price6= []


#Fetching data for Brand    
try:
    Brand_name6=driver6.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Brand_name6:
        Brand6.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand6.append('-')
    
#Fetching data for Model   
try:
    Model_name6=driver6.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Model_name6:
        Model6.append(i.text[5:])
except NoSuchElementException as e:
    Model6.append('-')

#Fetching data for Variant   
try:
    Variant_name6=driver6.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in Variant_name6:
        Variant6.append(i.text)
except NoSuchElementException as e:
    Variant6.append('-')
    
#Fetching data for Manufacturing    
try:
    Manufacturing6=driver6.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in Manufacturing6:
        Manufacturing_Year6.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year6.append('-') 
    
#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter6=driver6.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[1]')
    for i in Driven_KiloMeter6:
        Driven_KiloMeters6.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters6.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name6=driver6.find_elements(By.XPATH,'//div[@class="truncate dotlist-2"]/div[2]')
    for i in Fuel_name6:
        Fuel6.append(i.text)
except NoSuchElementException as e:
    Fuel6.append('-')
    
#Fetching data for Car_Price    
try:
    Car_Pr6=driver6.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in Car_Pr6:
        Car_Price6.append(i.text)
except NoSuchElementException as e:
    Car_Price6.append('-')

In [96]:
print(len(Brand6),len(Model6),len(Variant6),len(Manufacturing_Year6), len(Driven_KiloMeters6), len(Fuel6), len(Car_Price6))

200 200 200 200 200 200 200

In [97]:
#Fetching data for Location       
try:
    Location_name6=driver6.find_elements(By.XPATH,'//div[@class="gsc_col-xs-12 mainheading"]')
    for j in range (200):
        for i in Location_name6:
            Location6.append(i.text[13:])
except NoSuchElementException as e:
    Location6.append('-')

In [99]:
#Creating DataFrame
Jaipur=pd.DataFrame({'Brand':Brand6[:200], 'Model':Model6[:200], 'Variant':Variant6[:200], 'Manufacturing_Year':Manufacturing_Year6[:200], 'Driven_KiloMeters':Driven_KiloMeters6[:200], 'Fuel':Fuel6[:200], 'Location':Location6[:200], 'Car_Price':Car_Price6[:200]})
Jaipur

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Location,Car_Price
0,Hyundai,Hyundai Alcazar,Signature,2021,"10,592 kms",Petrol,Jaipur,18.20 Lakh
1,Hyundai,Hyundai Venue,SX Turbo,2021,"13,731 kms",Petrol,Jaipur,10.41 Lakh
2,Honda,Honda City,ZX CVT,2020,"55,617 kms",Petrol,Jaipur,11.80 Lakh
3,Maruti,Maruti Baleno,1.2 Delta,2018,"63,001 kms",Petrol,Jaipur,6.10 Lakh
4,Hyundai,Hyundai Venue,SX Plus Turbo DCT,2021,"10,898 kms",Petrol,Jaipur,12.33 Lakh
...,...,...,...,...,...,...,...,...
195,Maruti,Maruti Baleno,Delta,2019,"43,472 kms",Petrol,Jaipur,6.40 Lakh
196,Maruti,Maruti Baleno,Delta,2019,"16,755 kms",Petrol,Jaipur,6.40 Lakh
197,Maruti,Maruti Baleno,Delta,2019,"42,250 kms",Petrol,Jaipur,6.25 Lakh
198,Honda,Honda Amaze,S CVT Petrol,2019,"33,123 kms",Petrol,Jaipur,6.25 Lakh
199,Maruti,Maruti Baleno,Zeta,2020,"30,131 kms",Petrol,Jaipur,7.40 Lakh

In [239]:
car_dekho=pd.concat([Ahmedabad,Bangalore,Delhi,Mumbai,Pune,Jaipur], ignore_index=True)
car_dekho

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Location,Car_Price
0,Hyundai,Hyundai Tucson,GLS AT,2021,"11,877 kms",Petrol,Ahmedabad,23.00 Lakh
1,Kia,Kia Seltos,GTX Plus,2019,"18,557 kms",Petrol,Ahmedabad,15.53 Lakh
2,Renault,Renault Duster,Petrol RXS CVT,2018,"33,139 kms",Petrol,Ahmedabad,7.11 Lakh
3,Honda,Honda City,i VTEC V,2016,"25,542 kms",Petrol,Ahmedabad,7.33 Lakh
4,Datsun,Datsun RediGO,T,2020,"23,840 kms",Petrol,Ahmedabad,3.81 Lakh
...,...,...,...,...,...,...,...,...
1395,Maruti,Maruti Baleno,Delta,2019,"43,472 kms",Petrol,Jaipur,6.40 Lakh
1396,Maruti,Maruti Baleno,Delta,2019,"16,755 kms",Petrol,Jaipur,6.40 Lakh
1397,Maruti,Maruti Baleno,Delta,2019,"42,250 kms",Petrol,Jaipur,6.25 Lakh
1398,Honda,Honda Amaze,S CVT Petrol,2019,"33,123 kms",Petrol,Jaipur,6.25 Lakh
1399,Maruti,Maruti Baleno,Zeta,2020,"30,131 kms",Petrol,Jaipur,7.40 Lakh

In [179]:
car_dekho.to_csv('car_dekho', index=True)

In [106]:
driver6.close()

# 2. Scraping data from "OLX" Website

In [161]:
driver7=webdriver.Chrome('chromedriver.exe')
url7=("https://www.olx.in/cars_c84")
driver7.get(url7)
driver7.maximize_window()
time.sleep(2)

In [162]:
# scrolling the web page 
for _ in range(20):
    driver7.execute_script("window.scrollBy(0,1000)")

button=driver7.find_element(By.XPATH,'//li[@class="_3OF2S"]/div').click()

In [163]:
urls7 = []
for i in range(150):
    for j in driver7.find_elements(By.XPATH,'//li[@class="_31j8e"]/a'):
        urls7.append(j.get_attribute('href'))

print(len(urls7))

6320

In [174]:
Location8= []
for _ in range(100):
    driver7.execute_script("window.scrollBy(0,1000)")
#Fetching data for Location   
    try:
        Location_name7=driver7.find_elements(By.XPATH,"//div[@class='_1zvfB']")
        for i in Location_name7:
            Location8.append(i.text.split("\n")[0])
    except NoSuchElementException as e:
        Location8.append('-')

In [185]:
len(Location8)

8000

In [176]:
#Creating empty list 
Brand7 = []
Model7 = []
Variant7=[]
Manufacturing_Year7 = []
Driven_KiloMeters7= []
Fuel7 = []
Car_Price7= []

for i in urls7[:2000]:
    driver7.get(i)
    time.sleep(1)   
    
    try:

        #Fetching data for Brand    
        try:
            Brand_name7=driver7.find_elements(By.XPATH,"//div[@class='_35xN1']")
            for i in Brand_name7:
                Brand7.append(i.text.split(' ')[0])
        except NoSuchElementException as e:
            Brand7.append('-')


        #Fetching data for Model   
        try:
            Model_name7=driver7.find_elements(By.XPATH,"//div[@class='_35xN1']")
            for i in Model_name7:
                Model7.append(i.text.split("(")[0])
        except NoSuchElementException as e:
            Model7.append('-')

        #Fetching data for Variant   
        try:
            Variant_name7=driver7.find_elements(By.XPATH,"//div[@class='_3tLee']")
            for i in Variant_name7:
                Variant7.append(i.text)
        except NoSuchElementException as e:
            Variant7.append('-')

        #Fetching data for Manufacturing    
        try:
            Manufacturing7=driver7.find_elements(By.XPATH,"//div[@class='_35xN1']")
            for i in Manufacturing7:
                Manufacturing_Year7.append(i.text.split("(")[1].replace(")", " "))
        except NoSuchElementException as e:
            Manufacturing_Year7.append('-')    

        #Fetching data for Driven_KiloMeters    
        try:
            Driven_KiloMeter7=driver7.find_elements(By.XPATH,'//div[@class="aOxkz"]/div[2]/div')
            for i in Driven_KiloMeter7:
                Driven_KiloMeters7.append(i.text)
        except NoSuchElementException as e:
            Driven_KiloMeters7.append('-')    

        #Fetching data for Fuel    
        try:
            Fuel_name7=driver7.find_elements(By.XPATH,'//div[@class="aOxkz"]/div[1]/div')
            for i in Fuel_name7:
                Fuel7.append(i.text)
        except NoSuchElementException as e:
            Fuel7.append('-')

        #Fetching data for Car_Price    
        try:
            Car_Pr7=driver7.find_elements(By.XPATH,"//div[@class='_3FkyT']")
            for i in Car_Pr7:
                Car_Price7.append(i.text)
        except NoSuchElementException as e:
            Car_Price7.append('-')
    except TimeoutException:
        pass        
    except NoSuchElementException:
        pass

In [177]:
print(len(Brand7),len(Model7),len(Variant7),len(Manufacturing_Year7), len(Driven_KiloMeters7), len(Fuel7), len(Car_Price7))

1970 1970 1970 1970 1970 1970 1970

In [186]:
Olx_Car1 = pd.DataFrame({'Brand':Brand7[:1970], 'Model':Model7[:1970], 'Variant':Variant7[:1970], 'Manufacturing_Year':Manufacturing_Year7[:1970], 'Driven_KiloMeters':Driven_KiloMeters7[:1970], 'Fuel':Fuel7[:1970],  'Location':Location8[:1970], 'Car_Price':Car_Price7[:1970]})
Olx_Car1

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Location,Car_Price
0,Toyota,Toyota Fortuner,2.8 2WD AT,2018,90000.0 KM,DIESEL,MLAs Colony,"₹ 34,49,000"
1,Audi,Audi A6,35 TDI MATRIX EDITION,2016,55000.0 KM,DIESEL,Goregaon West,"₹ 23,99,999"
2,Maruti,Maruti Suzuki Alto 800,LXI,2018,1888 KM,PETROL,Paschim Vihar,"₹ 3,49,500"
3,Audi,Audi A6,2009-2011 2.7 TDI,2010,140000 KM,DIESEL,Dange Chowk Road,"₹ 5,25,000"
4,Tata,Tata Indigo Ecs,eCS GLX,2006,90000 KM,PETROL,Gokulam,"₹ 1,10,000"
...,...,...,...,...,...,...,...,...
1965,Ford,Ford Ecosport,1.5 Diesel Titanium,2017,45000.0 KM,DIESEL,Khatodara Colony,"₹ 7,70,000"
1966,Tata,Tata Harrier,XZA Plus AT,2020,31000.0 KM,DIESEL,Makarpura GIDC,"₹ 18,75,000"
1967,Hyundai,Hyundai Santro Xing,GLS,2014,70000.0 KM,PETROL,Police Line,"₹ 3,45,000"
1968,Mercedes-Benz,Mercedes-Benz C-Class,220 CDI Avantgarde,2015,95000.0 KM,DIESEL,Hope College,"₹ 26,75,000"
1969,Tata,Tata Zest,Quadrajet 1.3 75PS XE,2018,85268.0 KM,DIESEL,Saket,"₹ 4,20,000"

In [188]:
#Creating empty list 
Brand8 = []
Model8 = []
Variant8=[]
Manufacturing_Year8 = []
Driven_KiloMeters8= []
Fuel8 = []
Car_Price8= []

for i in urls7[2000:2500]:
    driver7.get(i)
    time.sleep(1)   
    
    try:

        #Fetching data for Brand    
        try:
            Brand_name8=driver7.find_elements(By.XPATH,"//div[@class='_35xN1']")
            for i in Brand_name8:
                Brand8.append(i.text.split(' ')[0])
        except NoSuchElementException as e:
            Brand8.append('-')


        #Fetching data for Model   
        try:
            Model_name8=driver7.find_elements(By.XPATH,"//div[@class='_35xN1']")
            for i in Model_name8:
                Model8.append(i.text.split("(")[0])
        except NoSuchElementException as e:
            Model8.append('-')

        #Fetching data for Variant   
        try:
            Variant_name8=driver7.find_elements(By.XPATH,"//div[@class='_3tLee']")
            for i in Variant_name8:
                Variant8.append(i.text)
        except NoSuchElementException as e:
            Variant8.append('-')

        #Fetching data for Manufacturing    
        try:
            Manufacturing8=driver7.find_elements(By.XPATH,"//div[@class='_35xN1']")
            for i in Manufacturing8:
                Manufacturing_Year8.append(i.text.split("(")[1].replace(")", " "))
        except NoSuchElementException as e:
            Manufacturing_Year8.append('-')    

        #Fetching data for Driven_KiloMeters    
        try:
            Driven_KiloMeter8=driver7.find_elements(By.XPATH,'//div[@class="aOxkz"]/div[2]/div')
            for i in Driven_KiloMeter8:
                Driven_KiloMeters8.append(i.text)
        except NoSuchElementException as e:
            Driven_KiloMeters8.append('-')    

        #Fetching data for Fuel    
        try:
            Fuel_name8=driver7.find_elements(By.XPATH,'//div[@class="aOxkz"]/div[1]/div')
            for i in Fuel_name8:
                Fuel8.append(i.text)
        except NoSuchElementException as e:
            Fuel8.append('-')

        #Fetching data for Car_Price    
        try:
            Car_Pr8=driver7.find_elements(By.XPATH,"//div[@class='_3FkyT']")
            for i in Car_Pr8:
                Car_Price8.append(i.text)
        except NoSuchElementException as e:
            Car_Price8.append('-')
    except TimeoutException:
        pass        
    except NoSuchElementException:
        pass

In [189]:
print(len(Brand8),len(Model8),len(Variant8),len(Manufacturing_Year8), len(Driven_KiloMeters8), len(Fuel8), len(Car_Price8))

493 493 493 493 493 493 493

In [191]:
Olx_Car2 = pd.DataFrame({'Brand':Brand8[:493], 'Model':Model8[:493], 'Variant':Variant8[:493], 'Manufacturing_Year':Manufacturing_Year8[:493], 'Driven_KiloMeters':Driven_KiloMeters8[:493], 'Fuel':Fuel8[:493],  'Location':Location8[1970:2463], 'Car_Price':Car_Price8[:493]})
Olx_Car2

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Location,Car_Price
0,Toyota,Toyota Fortuner,2.8 2WD AT,2018,90000.0 KM,DIESEL,LBS Marg-Mulund,"₹ 34,49,000"
1,Audi,Audi A6,35 TDI MATRIX EDITION,2016,55000.0 KM,DIESEL,LBS Marg-Mulund,"₹ 23,99,999"
2,Maruti,Maruti Suzuki Alto 800,LXI,2018,1888 KM,PETROL,Hosur Road,"₹ 3,49,500"
3,Audi,Audi A6,2009-2011 2.7 TDI,2010,140000 KM,DIESEL,Hosur Road,"₹ 5,25,000"
4,Tata,Tata Indigo Ecs,eCS GLX,2006,90000 KM,PETROL,Hosur Road,"₹ 1,10,000"
...,...,...,...,...,...,...,...,...
488,Toyota,Toyota Platinum Etios,,2012,176138.0 KM,PETROL,Chembur,"₹ 2,25,000"
489,Maruti,Maruti Suzuki Eeco,5 STR With AC Plus HTR CNG,2021,14500.0 KM,CNG & HYBRIDS,Chembur,"₹ 4,85,000"
490,Honda,Honda Jazz,1.2 V i VTEC,2013,119355.0 KM,PETROL,Brijlalpura,"₹ 5,00,000"
491,Hyundai,Hyundai Verna,,2019,18326.0 KM,PETROL,Rohini,"₹ 10,90,000"
492,Renault,Renault Duster,Petrol RXS,2020,12000.0 KM,PETROL,EM Bypass - Ruby,"₹ 9,45,000"

In [242]:
Olx_Car=pd.concat([Olx_Car1, Olx_Car2], ignore_index=True)
Olx_Car

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Location,Car_Price
0,Toyota,Toyota Fortuner,2.8 2WD AT,2018,90000.0 KM,DIESEL,MLAs Colony,"₹ 34,49,000"
1,Audi,Audi A6,35 TDI MATRIX EDITION,2016,55000.0 KM,DIESEL,Goregaon West,"₹ 23,99,999"
2,Maruti,Maruti Suzuki Alto 800,LXI,2018,1888 KM,PETROL,Paschim Vihar,"₹ 3,49,500"
3,Audi,Audi A6,2009-2011 2.7 TDI,2010,140000 KM,DIESEL,Dange Chowk Road,"₹ 5,25,000"
4,Tata,Tata Indigo Ecs,eCS GLX,2006,90000 KM,PETROL,Gokulam,"₹ 1,10,000"
...,...,...,...,...,...,...,...,...
2458,Toyota,Toyota Platinum Etios,,2012,176138.0 KM,PETROL,Chembur,"₹ 2,25,000"
2459,Maruti,Maruti Suzuki Eeco,5 STR With AC Plus HTR CNG,2021,14500.0 KM,CNG & HYBRIDS,Chembur,"₹ 4,85,000"
2460,Honda,Honda Jazz,1.2 V i VTEC,2013,119355.0 KM,PETROL,Brijlalpura,"₹ 5,00,000"
2461,Hyundai,Hyundai Verna,,2019,18326.0 KM,PETROL,Rohini,"₹ 10,90,000"
2462,Renault,Renault Duster,Petrol RXS,2020,12000.0 KM,PETROL,EM Bypass - Ruby,"₹ 9,45,000"

In [241]:
Olx_Car.to_csv('Olx_Car', index=True)

In [193]:
driver7.close()

# 3. Scraping data from "cars24" Website

### Delhi

In [194]:
driver9=webdriver.Chrome('chromedriver.exe')
url9=("https://www.cars24.com/buy-used-cars/")
driver9.get(url9)
driver9.maximize_window()
time.sleep(2)

In [196]:
# scrolling the web page 
for _ in range(100):
    driver9.execute_script("window.scrollBy(0,1000)")

In [199]:
location1= driver9.find_element(By.XPATH,'//li[@data-title="New Delhi"]').click()

In [202]:
# scrolling the web page 
for _ in range(100):
    driver9.execute_script("window.scrollBy(0,1000)")

In [205]:
#Creating empty list 
Brand9 = []
Model9 = []
Variant9=[]
Manufacturing_Year9 = []
Driven_KiloMeters9= []
Fuel9 = []
Number_of_Owners9 = []
Location9= []
Car_Price9= []

#Fetching data for Brand    
try:
    Brand_name9=driver9.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name9:
        Brand9.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand9.append('-')


#Fetching data for Model   
try:
    Model_name9=driver9.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Model_name9:
        Model9.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Model9.append('-')

#Fetching data for Variant   
try:
    Variant_name9=driver9.find_elements(By.XPATH,"//p[@class='cvakB']")
    for i in Variant_name9:
        Variant9.append(i.text)
except NoSuchElementException as e:
    Variant9.append('-')

#Fetching data for Manufacturing    
try:
    Manufacturing9=driver9.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Manufacturing9:
        Manufacturing_Year9.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year9.append('-')    

#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter9=driver9.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in Driven_KiloMeter9:
        Driven_KiloMeters9.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters9.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name9=driver9.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in Fuel_name9:
        Fuel9.append(i.text)
except NoSuchElementException as e:
    Fuel9.append('-')

#Fetching data for Number_of_Owners    
try:
    Number_of_Owner9=driver9.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in Number_of_Owner9:
        Number_of_Owners9.append(i.text.split()[0])
except NoSuchElementException as e:
    Number_of_Owners9.append('-')


#Fetching data for Car_Price    
try:
    Car_Pr9=driver9.find_elements(By.XPATH,"//div[@class='_7udZZ']/span[1]")
    for i in Car_Pr9:
        Car_Price9.append(i.text)
except NoSuchElementException as e:
    Car_Price9.append('-')

In [206]:
print(len(Brand9),len(Model9),len(Variant9),len(Manufacturing_Year9), len(Driven_KiloMeters9), len(Fuel9), len(Number_of_Owners9),  len(Car_Price9))

664 664 664 664 664 664 664 664

In [207]:
#Fetching data for Location   
for i in range (664):
    Location9.append("Delhi")

In [237]:
car24= pd.DataFrame({'Brand':Brand9, 'Model':Model9, 'Variant':Variant9, 'Manufacturing_Year':Manufacturing_Year9, 'Driven_KiloMeters':Driven_KiloMeters9, 'Fuel':Fuel9, 'Number_of_Owners':Number_of_Owners9, 'Location':Location9, 'Car_Price':Car_Price9})
car24

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Location,Car_Price
0,KIA,KIA,HTK 1.5 PETROL Manual,2019,"9,918 km",Petrol,1st,Delhi,"₹11,51,399"
1,Hyundai,Hyundai,1.6 SX VTVT (O) Manual,2019,"81,902 km",Petrol,1st,Delhi,"₹9,81,699"
2,KIA,KIA,GTX + AT PETROL Automatic,2020,"8,241 km",Petrol,1st,Delhi,"₹18,95,199"
3,Maruti,Maruti,LXI Manual,2020,"10,568 km",Petrol,1st,Delhi,"₹5,92,499"
4,Maruti,Maruti,LXI Manual,2019,"27,659 km",Petrol,1st,Delhi,"₹5,33,399"
...,...,...,...,...,...,...,...,...,...
659,Hyundai,Hyundai,ERA 1.2 Manual,2016,"57,762 km",Petrol,2nd,Delhi,"₹4,67,299"
660,Tata,Tata,XT 1.2,2021,"9,628 km",Petrol,1st,Delhi,"₹7,50,999"
661,Maruti,Maruti,VXI PLUS Manual,2015,"88,972 km",Petrol,1st,Delhi,"₹5,25,299"
662,Honda,Honda,VX CVT PETROL Automatic,2016,"59,332 km",Petrol,1st,Delhi,"₹7,32,099"
663,Maruti,Maruti,LXI OPT Manual,2017,"26,406 km",Petrol,1st,Delhi,"₹4,50,999"

### Mumbai

In [209]:
driver_9=webdriver.Chrome('chromedriver.exe')
url_9=("https://www.cars24.com/buy-used-cars/")
driver_9.get(url_9)
driver_9.maximize_window()
time.sleep(2)

In [210]:
# scrolling the web page 
for _ in range(20):
    driver_9.execute_script("window.scrollBy(0,1000)")

In [212]:
location2= driver_9.find_element(By.XPATH,'//li[@data-title="Mumbai"]').click()

In [220]:
# scrolling the web page 
for _ in range(100):
    driver_9.execute_script("window.scrollBy(0,1000)")

In [231]:
#Creating empty list 
Brand_9 = []
Model_9 = []
Variant_9=[]
Manufacturing_Yr_9 = []
Driven_KMs_9= []
Fuel_9 = []
Number_of_Owners_9 = []
Location_9= []
Car_Price_9= []

#Fetching data for Brand    
try:
    Brand_name_9=driver_9.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name_9:
        Brand_9.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand_9.append('-')


#Fetching data for Model   
try:
    Model_name_9=driver_9.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Model_name_9:
        Model_9.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Model_9.append('-')

#Fetching data for Variant   
try:
    Variant_name_9=driver_9.find_elements(By.XPATH,"//p[@class='cvakB']")
    for i in Variant_name_9:
        Variant_9.append(i.text)
except NoSuchElementException as e:
    Variant_9.append('-')

#Fetching data for Manufacturing    
try:
    Manufacturing_9=driver_9.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Manufacturing_9:
        Manufacturing_Yr_9.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Yr_9.append('-')    

#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter_9=driver_9.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in Driven_KiloMeter_9:
        Driven_KMs_9.append(i.text)
except NoSuchElementException as e:
    Driven_KMs_9.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name_9=driver_9.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in Fuel_name_9:
        Fuel_9.append(i.text)
except NoSuchElementException as e:
    Fuel_9.append('-')

#Fetching data for Number_of_Owners    
try:
    Number_of_Owner_9=driver_9.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in Number_of_Owner_9:
        Number_of_Owners_9.append(i.text.split()[0])
except NoSuchElementException as e:
    Number_of_Owners_9.append('-')


#Fetching data for Car_Price    
try:
    Car_Pr_9=driver_9.find_elements(By.XPATH,"//div[@class='_7udZZ']/span[1]")
    for i in Car_Pr_9:
        Car_Price_9.append(i.text)
except NoSuchElementException as e:
    Car_Price_9.append('-')

In [232]:
print(len(Brand_9),len(Model_9),len(Variant_9),len(Manufacturing_Yr_9), len(Driven_KMs_9), len(Fuel_9), len(Number_of_Owners_9),  len(Car_Price_9))

465 465 465 465 465 465 465 465

In [233]:
#Fetching data for Location   
for i in range (465):
    Location_9.append("Delhi")

In [236]:
car_24= pd.DataFrame({'Brand':Brand_9, 'Model':Model_9, 'Variant':Variant_9, 'Manufacturing_Year':Manufacturing_Yr_9, 'Driven_KiloMeters':Driven_KMs_9, 'Fuel':Fuel_9, 'Number_of_Owners':Number_of_Owners_9, 'Location':Location_9, 'Car_Price':Car_Price_9})
car_24

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Location,Car_Price
0,Maruti,Maruti,VXI Manual,2020,"18,941 km",Petrol,1st,Delhi,"₹6,58,299"
1,Maruti,Maruti,LXI Manual,2013,"12,000 km",Petrol,1st,Delhi,"₹2,38,799"
2,Maruti,Maruti,LXI Manual,2021,"5,091 km",Petrol,1st,Delhi,"₹8,53,599"
3,Volkswagen,Volkswagen,COMFORTLINE 1.2L PETROL Manual,2014,"21,606 km",Petrol,2nd,Delhi,"₹3,66,899"
4,Hyundai,Hyundai,SPORTS 1.2 VTVT Manual,2014,"43,841 km",Petrol,2nd,Delhi,"₹3,54,499"
...,...,...,...,...,...,...,...,...,...
460,Maruti,Maruti,VXI Manual,2015,"13,206 km",Petrol,1st,Delhi,"₹3,35,599"
461,Maruti,Maruti,VXI Manual,2015,"29,236 km",Petrol,1st,Delhi,"₹4,16,899"
462,Honda,Honda,1.2 VX AT I VTEC Automatic,2014,"53,232 km",Petrol,1st,Delhi,"₹3,70,999"
463,Hyundai,Hyundai,MAGNA 1.2 KAPPA2 Manual,2010,"49,822 km",Petrol,1st,Delhi,"₹2,50,499"
464,Renault,Renault,RXT 1.0 EASY-R AT Automatic,2017,"14,920 km",Petrol,1st,Delhi,"₹3,94,899"

In [243]:
driver_9.close()

### Bengaluru

In [244]:
driver0=webdriver.Chrome('chromedriver.exe')
url0=("https://www.cars24.com/buy-used-cars/")
driver0.get(url0)
driver0.maximize_window()
time.sleep(2)

In [245]:
# scrolling the web page 
for _ in range(10):
    driver0.execute_script("window.scrollBy(0,1000)")

In [253]:
location3= driver0.find_element(By.XPATH,'//li[@data-title="Bengaluru"]').click()

In [258]:
# scrolling the web page 
for _ in range(100):
    driver0.execute_script("window.scrollBy(0,1000)")

In [263]:
#Creating empty list 
Brand0 = []
Model0 = []
Variant0=[]
Manufacturing_Year0 = []
Driven_KiloMeters0= []
Fuel0 = []
Number_of_Owners0 = []
Location0= []
Car_Price0= []

#Fetching data for Brand    
try:
    Brand_name0=driver0.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Brand_name0:
        Brand0.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Brand0.append('-')


#Fetching data for Model   
try:
    Model_name0=driver0.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Model_name0:
        Model0.append(i.text.split(" ")[1])
except NoSuchElementException as e:
    Model0.append('-')

#Fetching data for Variant   
try:
    Variant_name0=driver0.find_elements(By.XPATH,"//p[@class='cvakB']")
    for i in Variant_name0:
        Variant0.append(i.text)
except NoSuchElementException as e:
    Variant0.append('-')

#Fetching data for Manufacturing    
try:
    Manufacturing0=driver0.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
    for i in Manufacturing0:
        Manufacturing_Year0.append(i.text.split(" ")[0])
except NoSuchElementException as e:
    Manufacturing_Year0.append('-')    

#Fetching data for Driven_KiloMeters    
try:
    Driven_KiloMeter0=driver0.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in Driven_KiloMeter0:
        Driven_KiloMeters0.append(i.text)
except NoSuchElementException as e:
    Driven_KiloMeters0.append('-')    

#Fetching data for Fuel    
try:
    Fuel_name0=driver0.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in Fuel_name0:
        Fuel0.append(i.text)
except NoSuchElementException as e:
    Fuel0.append('-')

#Fetching data for Number_of_Owners    
try:
    Number_of_Owner0=driver0.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in Number_of_Owner0:
        Number_of_Owners0.append(i.text.split()[0])
except NoSuchElementException as e:
    Number_of_Owners0.append('-')


#Fetching data for Car_Price    
try:
    Car_Pr0=driver0.find_elements(By.XPATH,"//div[@class='_7udZZ']/span[1]")
    for i in Car_Pr0:
        Car_Price0.append(i.text)
except NoSuchElementException as e:
    Car_Price0.append('-')

In [264]:
print(len(Brand0),len(Model0),len(Variant0),len(Manufacturing_Year0), len(Driven_KiloMeters0), len(Fuel0), len(Number_of_Owners0),  len(Car_Price0))

624 624 624 624 624 624 624 624

In [265]:
#Fetching data for Location   
for i in range (624):
    Location0.append("Delhi")

In [266]:
car24_= pd.DataFrame({'Brand':Brand0, 'Model':Model0, 'Variant':Variant0, 'Manufacturing_Year':Manufacturing_Year0, 'Driven_KiloMeters':Driven_KiloMeters0, 'Fuel':Fuel0, 'Number_of_Owners':Number_of_Owners0, 'Location':Location0, 'Car_Price':Car_Price0})
car24_

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Location,Car_Price
0,Hyundai,Hyundai,GLS Manual,2010,"14,298 km",Petrol,2nd,Delhi,"₹2,32,599"
1,Maruti,Maruti,VXI SMART HYBRID Manual,2020,"19,946 km",Petrol,2nd,Delhi,"₹10,18,599"
2,KIA,KIA,GTX PLUS 1.5D AT DUAL TONE,2022,"3,704 km",Diesel,1st,Delhi,"₹16,40,299"
3,Hyundai,Hyundai,SPORTZ 1.2 KAPPA2 Manual,2011,"30,874 km",Petrol,3rd,Delhi,"₹3,17,699"
4,Hyundai,Hyundai,GLS Manual,2009,"48,797 km",Petrol,1st,Delhi,"₹2,51,799"
...,...,...,...,...,...,...,...,...,...
619,Skoda,Skoda,1.6 TDI MT AMBITION PLUS Manual,2014,"87,642 km",Diesel,2nd,Delhi,"₹4,96,199"
620,Hyundai,Hyundai,1.4 CRDI ASTA (O) Manual,2016,"69,388 km",Diesel,1st,Delhi,"₹7,49,199"
621,Maruti,Maruti,VXI Manual,2013,"12,025 km",Petrol,1st,Delhi,"₹3,40,599"
622,Maruti,Maruti,ZXI Plus Manual,2017,"24,676 km",Petrol,1st,Delhi,"₹7,89,699"
623,Maruti,Maruti,5 SEATER Manual,2016,"27,287 km",Petrol,1st,Delhi,"₹3,15,799"

In [272]:
driver0.close()

In [267]:
cars24=pd.concat([car24,car_24, car24_], ignore_index=True)
cars24

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Number_of_Owners,Location,Car_Price
0,KIA,KIA,HTK 1.5 PETROL Manual,2019,"9,918 km",Petrol,1st,Delhi,"₹11,51,399"
1,Hyundai,Hyundai,1.6 SX VTVT (O) Manual,2019,"81,902 km",Petrol,1st,Delhi,"₹9,81,699"
2,KIA,KIA,GTX + AT PETROL Automatic,2020,"8,241 km",Petrol,1st,Delhi,"₹18,95,199"
3,Maruti,Maruti,LXI Manual,2020,"10,568 km",Petrol,1st,Delhi,"₹5,92,499"
4,Maruti,Maruti,LXI Manual,2019,"27,659 km",Petrol,1st,Delhi,"₹5,33,399"
...,...,...,...,...,...,...,...,...,...
1748,Skoda,Skoda,1.6 TDI MT AMBITION PLUS Manual,2014,"87,642 km",Diesel,2nd,Delhi,"₹4,96,199"
1749,Hyundai,Hyundai,1.4 CRDI ASTA (O) Manual,2016,"69,388 km",Diesel,1st,Delhi,"₹7,49,199"
1750,Maruti,Maruti,VXI Manual,2013,"12,025 km",Petrol,1st,Delhi,"₹3,40,599"
1751,Maruti,Maruti,ZXI Plus Manual,2017,"24,676 km",Petrol,1st,Delhi,"₹7,89,699"
1752,Maruti,Maruti,5 SEATER Manual,2016,"27,287 km",Petrol,1st,Delhi,"₹3,15,799"

### Merging DataFrame of both website

In [268]:
car_price=pd.concat([car_dekho,Olx_Car,cars24], ignore_index=True)

In [269]:
car_price

,Brand,Model,Variant,Manufacturing_Year,Driven_KiloMeters,Fuel,Location,Car_Price,Number_of_Owners
0,Hyundai,Hyundai Tucson,GLS AT,2021,"11,877 kms",Petrol,Ahmedabad,23.00 Lakh,NaN
1,Kia,Kia Seltos,GTX Plus,2019,"18,557 kms",Petrol,Ahmedabad,15.53 Lakh,NaN
2,Renault,Renault Duster,Petrol RXS CVT,2018,"33,139 kms",Petrol,Ahmedabad,7.11 Lakh,NaN
3,Honda,Honda City,i VTEC V,2016,"25,542 kms",Petrol,Ahmedabad,7.33 Lakh,NaN
4,Datsun,Datsun RediGO,T,2020,"23,840 kms",Petrol,Ahmedabad,3.81 Lakh,NaN
...,...,...,...,...,...,...,...,...,...
5611,Skoda,Skoda,1.6 TDI MT AMBITION PLUS Manual,2014,"87,642 km",Diesel,Delhi,"₹4,96,199",2nd
5612,Hyundai,Hyundai,1.4 CRDI ASTA (O) Manual,2016,"69,388 km",Diesel,Delhi,"₹7,49,199",1st
5613,Maruti,Maruti,VXI Manual,2013,"12,025 km",Petrol,Delhi,"₹3,40,599",1st
5614,Maruti,Maruti,ZXI Plus Manual,2017,"24,676 km",Petrol,Delhi,"₹7,89,699",1st
5615,Maruti,Maruti,5 SEATER Manual,2016,"27,287 km",Petrol,Delhi,"₹3,15,799",1st

### Converting data into CSV

In [274]:
car_price.to_csv('car_price.csv', index=True)